<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides loop="true" autoplay="3000" pager>
        <ion-slide *ngFor="let number of [1,2,3,4]">
                 <img src="./assets/images/{{number}}.jpg" alt="">
        </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-slides  #productSlides >
         <ion-slide *ngFor="let product of products"  >
           
              <ion-card no-padding>
                    <ion-item>
                     
                      <h3 center padding [innerHTML]="product.title.substr(0,100)+'...'"></h3>
                      
                    </ion-item>
                    <img [src]="product.featured_src" alt="">
                    <ion-card-content style="font-size: 10px;">
                        <p  center padding [innerHTML]="product.description.substr(0,200)+'...'"></p>
                      </ion-card-content>
                      <ion-row>
                          <ion-col>
                            <button ion-button icon-start clear small>
                              <ion-icon name="expand"></ion-icon>
                              <div>ver detalles</div>
                            </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-start clear small>
                              <ion-icon name="pricetag"></ion-icon>
                              <div> $ {{product.regular_price}}</div>
                            </button>
                          </ion-col>
                          <ion-col center text-center>
                            <ion-note>
                            
                            </ion-note>
                          </ion-col>
                        </ion-row>
                  
              </ion-card>

         </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>



  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductpage(product)">
      <ion-thumbnail>
            <img [src]="product.featured_src" alt="">
      </ion-thumbnail>
         <h2>{{product.title}}</h2>
         <p><span [innerHTML]="product.description.substr(0,50)+'...'"></span></p>
         <p><span [innerHTML]="product.price_html"></span></p>
 
    <button ion-button icon clear item-right>
         <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-item>

  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
      <ion-infinite-scroll-content>
        
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
